$primaryColor: #3064783d;
$textColor: #9dd5d7;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Arial", sans-serif;
	background-image: url(../images/background.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	div {
		width: 81%;
		margin-top: 8rem;
		margin-inline: auto;
		display: grid;
		place-items: center;
		h1 {
			color: $textColor;
			padding-block: 2.4rem;
		}
		img {
			width: 24%;
			aspect-ratio: 1;
			background-color: $primaryColor;
			border-radius: 50%;
		}
	}
}
